body {
  border: 0 none;
  font-family: Georgia;
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  color: #666;
  min-height: 100%;
  position: relative;
  -webkit-text-size-adjust: none;
}
