/****
Kendo UI Drawer
****/

 .km-flat, .km-flat .km-navbar, .km-flat .km-content 
{
    background-color: #eaeaea; 
}
  

#canvassApp-drawer {
    width: 200px; 
    height: 100%; 
}
#canvassApp-drawer .km-content
{
    background-color: #0080C8;
    border-left:#eaeaea 2px solid !important;
    color: #000;
} 

#canvassApp-drawer .km-navbar,
.km-tablet .km-ios #canvassApp-drawer .km-view-title,
.km-ios7 #canvassApp-drawer .km-view-title,
.km-tablet .km-ios7 #canvassApp-drawer .km-view-title
{
	background-color: #0080C8;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.5);
}

#canvassApp-drawer ul.km-list li {
	background-color: #0080C8;
    color: #fff;
    
}

/* Remove Arrow */
 .km-listview-link::after {
    display: none;
}


#drawer-title .km-view-title { 
    background-color: #0070AE;
    height:49px;
}


#canvassApp-drawer a.drawer-link {
    text-align:left;
}

#canvassApp-drawer ul.km-list li a span.drawer-icon {  
    font-size: 20px; 
    margin-right: 10px;
} 

ul.km-list li a:hover,
ul.km-list li a:focus,
ul.km-list li a.active,
ul.km-list li a:active,
ul.km-list li a[disabled],
ul.km-list li a.disabled
{    
  background-color: #C60E34 !important;
  color: #fff;
  outline: none !important;
     
} 



 
.group-title {
    height: 55px;  
    background-color: #0088D5 !important;
    border-bottom:  #fff 1px dashed  !important; 
    color: #fff; 
    padding: 5px 10px  !important;
    font-size:16px; 
    display:block;
}


/* Drawer Canvass*/

#drawer-canvass h3 {
    margin-top: 20px;
    color: #0080C8;
    font-weight: 500; 
}

#drawer-canvass h3 small { 
    font-size:12px;
}


#drawer-canvass ul.km-list li {
    font-size: 20px;  
    
} 
  

.km-on-ios.km-black-translucent-status-bar.km-app .km-header .km-navbar {  
    padding-top: 0;
} 
 

.km-group-title{
     display: none 
}
 

.km-view-title{ 
    background-color: #0088D5;
    height:55px; 
    padding-top: 10px !important;
    color: #fff; 
    margin-top: 0px !important;
}

/* IOS navbar hacked  */
.km-on-ios.km-black-translucent-status-bar.km-app .km-leftitem, .km-on-ios.km-black-translucent-status-bar.km-app .km-rightitem {
	height:  55px;
}

