.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }


*body {
    border: 0 none; 
    font-family: Georgia;
	background-color: #fff; 
	font-size: 14px;
	line-height: 22px;
	color: #666;
	min-height: 100%;
	position: relative;
	-webkit-text-size-adjust: none;
}


.cf {
    zoom: 1;
}

.cf:before,
.cf:after {
    display: table;
    content: '';
}

.cf:after {
    clear: both;
}

  

/*
*************
*****   TYPOGRAPHY
*************
*/

h1, h2, h3, h4, h5, h6 {
    
    font-family: Arial; 
    font-weight: 300;
    margin: 0 0 10px;
}

h3 { 
    color: #8EAFCD;
    font-size: 1.6rem;
}

h4 { 
    color: #01ABEC;
    font-size: 2rem;
}

.text-red {
    color: #d84a38;
    font-weight: bold;
}

.text-green {
    color: #41F6F2 !important;
}
.text-disabled {
    color: #D6D6D6 !important;
}

.text-gray {
    color: #AFAFAF !important;
}


.text-white {
    color: #FFF !important;
}

/*
*************
*****   SETTINGS 
*************
*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.fl-right {
	float:right
}


.margin-top-10 {
    margin-top:10px;
}

.push-3-percent {
    margin-top: 3% ;
}

.space-button-grid{
    margin: 1px;
}

.padding-md{
    padding: 20px;
    
}


.padding-sm{
    padding: 10px;
    
}

.padding-top-10 {
    padding-top: 20px !important;
}

 
.margin-bt-minus-10 {
    margin-bottom: -10px; 
}

.display-none {
    display: none !important;
}
 

/*
*************
*****    LOGIN 
*************
*/


.login { 
    margin-top: 3.4em;
}

 
.login .input-group-addon {
    padding: 8px;
    background: #0080C8;
    min-width:48px;
    text-align:center;
    font-size: 18px;
    color: #fff;
    
}

.form-control {
    height:48px;
    font-size:15px;
    box-shadow:none;
}


#login-form {
    border-bottom: #ccc thin solid;
    padding: 20px 0px;
}

.login p {
    text-align:center;
    font-size:14px;
    padding: 10px;
}


/*
header.canvassheader{
    background:#0080C8 !important;
}*/


.box {
   padding:3%;
}

.box .box-title {
    font-size: 24px;
	font-weight: 700;
    margin: 20px 0px;
}


.pack { 
    margin-top: 1%;  
    box-shadow: 3px 3px 3px #c9c9c9;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: #fff;
    
}

.pack .title {
    font-size: 24px;
    color: #554d56;
    padding: 10px;
    text-align:center;
    font-weight: 600; 
}


.no-data-found {
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    width: 80%;
    margin-top: 2%;
    color: #c9c9c9;
}


.no-data-found .icon {
    font-size: 15em; 
}

 

.no-data-found .description {
    font-size: 30px;
    color: #999999;
    font-weight: 600;
    
}

.navbar-info { 

    font-size: 1.3em;
    color: #fff;
    line-height:100%;
}

 .navbar-info .status-section {
    font-size: 0.68em;
    color: #CCD9F6;  
    display:block; 
} 

 
a.direction:hover { 
    background-color: #fe0000; 
}
 
  
.navi-breadcrumb{
    text-align: center;
    height:20px;
    margin-bottom: 20px;
}

.navi-breadcrumb i{ 
    font-size: 23px; 
    margin-top: 2px;
}


.navi-breadcrumb .left{
    width: 10%;
    padding: 6px 0px;
    background-color: #f5f5f5;
    float: left;
}

.navi-breadcrumb .middle{
    width: 80%;
    float: left;
}

.disabled{
    color: #eaeaea !important;
}


.navi-breadcrumb .right{
    width: 10%;
    padding: 6px 0px;
    background-color: #f5f5f5;
    float: left;
}



