<div class="row"> 
    <div class="  navi-breadcrumb"> 
        <div class="left" >
            <a  ng-click="goBack()"><i class="fa fa-chevron-circle-left"></i></a>   
        </div>
        <div class="middle"> 
            <ol class="breadcrumb">  
              <li><a href="#/list">Canvasses List</a></li>  
              <li><a ng-click="goBack()"> Grid </a></li> 
              <li><a > Convert </a></li> 
            </ol>
        </div>
        <div class="right">  
            <a   class="disabled" ><i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
</div>  

<div class="row" >
     <div class="col-md-12" >
        <div class="title text-center text-red">
           <h4> Do you want to convert <b>{{ name }}</b>? </h4>
        </div> 
        <div>
            <a class="btn btn-lg btn-block green" ng-click="covertCanvass()">
                Yes, Convert.
            </a>
            <a class="btn btn-lg  btn-block default"  ng-click="goBack()"  >
               Cancel
            </a>
        </div>
    </div>
</div>
<!-- href="#/grid/{{sugarId}}/{{name}}"-->