
<div> 
    <div class="row"> 
        <div class="  navi-breadcrumb"> 
            <div class="left" >
                <a   class="disabled"><i class="fa fa-chevron-circle-left"></i></a>   
            </div>
            <div class="middle"> 
                <ol class="breadcrumb"> 
                  <li><a >Canvasses</a></li>  
                </ol>
            </div>
            <div class="right">  
                <a   class="disabled" ><i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    
         
    <div kendo-mobile-scroller class="pack" id="canvass_data">
      <ul kendo-mobile-list-view k-data-source="todo"></ul>
    </div> 

    <script id="mobileListViewTemplate" type="text/x-kendo-template">
        # if (data.id) { # 
            <a href='views/canvassGrid.html?sugar_canvass_id=#:data.sugar_canvass_id#&canvassName=#:data.canvassing_list_name#' > 
                  #: data.canvassing_list_name #    <span class="fl-right" ><i class="fa fa-angle-right"></i></span>
            </a> 
        # } # 
    </script>   
    
</div>
