

<div class="box">   


  <div ng-include="'headerTemplate'">  </div> 

   <div class="main-container"> 
        
              
          <div id="content-container"> 
            <div id="baseball" class="inner-content">
              <h3>Baseball</h3>
              <p> 
                Baseball is a bat-and-ball sport played between two teams of nine players each. The aim is to score runs by hitting a thrown ball with a bat and touching a series of four bases arranged at the corners of a ninety-foot diamond. Players on the batting team take turns hitting against the pitcher of the fielding team, which tries to stop them from scoring runs by getting hitters out in any of several ways. A player on the batting team can stop at any of the bases and later advance via a teammate's hit or other means. The teams switch between batting and fielding whenever the fielding team records three outs. One turn at bat for each team constitutes an inning and nine innings make up a professional game. The team with the most runs at the end of the game wins.
              </p>
            </div> 
        </div>
   </div> 
     
        
    
</div>

       