
<div> 
    <div class="row"> 
        <div class="  navi-breadcrumb"> 
            <div class="left" >
                <a   class="disabled"><i class="fa fa-chevron-circle-left"></i></a>   
            </div>
            <div class="middle"> 
                <ol class="breadcrumb"> 
                  <li><a >Dashboard</a></li>  
                </ol>
            </div>
            <div class="right">  
                <a   class="disabled" ><i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
 

    <div class="padding-md  pack"> 
            <table class="table table-bordered">
                <tr>
                    <td align="left"  >
                        Sync to update data:
                    </td>
                    <td align="center" width="20%"> 
                        <button type="button" id="syncButton"  ng-click="syncData()" data-loading-text="Syncing <i class='fa fa-refresh fa-spin'></i> " class="btn red">
                          Sync
                        </button>  
                    </td>
                </tr>
            </table>
     </div>
</div>