@import "../lib/fontawesome/css/font-awesome.min.css";
@import "../lib/kendo/styles/kendo.mobile.all.min.css";
@import "../lib/bootstrap/bootstrap.min.css";
/* 
    Created on : Jun 4, 2014, 11:46:07 AM
    Author     : kgarcia
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
/*! normalize.css v1.0.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Main theme structure */
/*
*************
*****   FLAT UI
*************
*/
/* remove rounds from all elements */
div,
input,
select,
textarea,
span,
img,
table,
td,
th,
p,
a,
button,
ul,
code,
pre,
li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
/*
Buttons & Dropdown Buttons
*/
.btn {
  border-width: 0;
  padding: 7px 14px;
  font-size: 14px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  text-shadow: none;
}
/* fix jumping group buttons */
.btn-group.btn-group-solid .btn + .btn,
.btn-group.btn-group-solid .btn + .btn-group.btn-group-solid,
.btn-group.btn-group-solid .btn-group.btn-group-solid + .btn,
.btn-group.btn-group-solid .btn-group.btn-group-solid + .btn-group.btn-group-solid {
  margin-left: 0px;
}
.btn-group-vertical.btn-group-solid > .btn + .btn,
.btn-group-vertical.btn-group-solid > .btn + .btn-group,
.btn-group-vertical.btn-group-solid > .btn-group + .btn,
.btn-group-vertical.btn-group-solid > .btn-group + .btn-group {
  margin-top: 0px;
  margin-left: 0;
}
.btn-default {
  border-width: 1px;
  padding: 6px 13px;
}
.btn.red-stripe {
  border-left: 3px solid #d84a38;
}
.btn.blue-stripe {
  border-left: 3px solid #4d90fe;
}
.btn.purple-stripe {
  border-left: 3px solid #852b99;
}
.btn.green-stripe {
  border-left: 3px solid #35aa47;
}
.btn.yellow-stripe {
  border-left: 3px solid #ffb848;
}
.btn.dark-stripe {
  border-left: 3px solid #555555;
}
.btn.default {
  color: #333333;
  text-shadow: none;
  background-color: #e5e5e5;
}
.btn.default:hover,
.btn.default:focus,
.btn.default:active,
.btn.default.active,
.btn.default[disabled],
.btn.default.disabled {
  color: #333333;
  background-color: #d8d8d8 !important;
  outline: none !important;
}
/*  Red */
.btn.red {
  color: white;
  text-shadow: none;
  background-color: #C60E34;
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red.active,
.btn.red[disabled],
.btn.red.disabled {
  background-color: #ED123F !important;
  color: #fff !important;
  outline: none !important;
}
/*  Blue */
.btn.blue {
  color: white;
  text-shadow: none;
  background-color: #4d90fe;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {
  background-color: #0362fd !important;
  color: #fff !important;
  outline: none !important;
}
.btn-group .btn.blue.dropdown-toggle {
  background-color: #4d90fe !important;
}
.btn-group .btn.blue:hover,
.btn-group .btn.blue:focus,
.btn-group .btn.blue:active,
.btn-group .btn.blue.active,
.btn-group .btn.blue.disabled,
.btn-group .btn.blue[disabled] {
  background-color: #0362fd !important;
  color: #fff !important;
  outline: none !important;
}
/*  Green */
.btn.green {
  color: white;
  text-shadow: none;
  background-color: #35aa47;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green.active,
.btn.green.disabled,
.btn.green[disabled] {
  background-color: #1d943b !important;
  color: #fff !important;
  outline: none !important;
}
/*  Purple */
.btn.purple {
  color: white;
  text-shadow: none;
  background-color: #852b99;
}
.btn.purple:hover,
.btn.purple:focus,
.btn.purple:active,
.btn.purple.active,
.btn.purple.disabled,
.btn.purple[disabled] {
  background-color: #6d1b81 !important;
  color: #fff !important;
  outline: none !important;
}
.btn-group .btn.purple.dropdown-toggle {
  background-color: #852b99 !important;
}
.btn-group .btn.purple:hover,
.btn-group .btn.purple:focus,
.btn-group .btn.purple:active,
.btn-group .btn.purple.active,
.btn-group .btn.purple.disabled,
.btn-group .btn.purple[disabled] {
  background-color: #6d1b81 !important;
  color: #fff !important;
  outline: none !important;
}
/*  Yellow */
.btn.yellow {
  color: white;
  text-shadow: none;
  background-color: #ffb848;
}
.btn.yellow:hover,
.btn.yellow:focus,
.btn.yellow:active,
.btn.yellow.active,
.btn.yellow.disabled,
.btn.yellow[disabled] {
  background-color: #eca22e !important;
  color: #fff !important;
  outline: none !important;
}
.btn-group .btn.yellow.dropdown-toggle {
  background-color: #ffb848 !important;
}
.btn-group .btn.yellow:hover,
.btn-group .btn.yellow:focus,
.btn-group .btn.yellow:active,
.btn-group .btn.yellow.active,
.btn-group .btn.yellow.disabled,
.btn-group .btn.yellow[disabled] {
  background-color: #eca22e !important;
  color: #fff !important;
  outline: none !important;
}
/*  Black */
.btn.dark {
  color: white;
  text-shadow: none;
  background-color: #555555;
}
.btn.dark:hover,
.btn.dark:focus,
.btn.dark:active,
.btn.dark.active,
.btn.dark.disabled,
.btn.dark[disabled] {
  background-color: #222222 !important;
  color: #fff !important;
  outline: none !important;
}
.btn-group .btn.dark.dropdown-toggle {
  background-color: #555555 !important;
}
.btn-group .btn.dark:hover,
.btn-group .btn.dark:focus,
.btn-group .btn.dark:active,
.btn-group .btn.dark.active,
.btn-group .btn.dark.disabled,
.btn-group .btn.dark[disabled] {
  background-color: #222222 !important;
  color: #fff !important;
  outline: none !important;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
}
.btn-lg > i {
  font-size: 18px;
}
.btn > i {
  font-size: 14px;
}
.btn-sm,
.btn-xs {
  padding: 4px 10px 5px 10px;
  font-size: 13px;
  line-height: 1.5;
}
.btn-sm > i,
.btn-xs > i {
  font-size: 13px;
}
.btn-xs {
  padding: 1px 5px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
::-webkit-input-placeholder {
  color: #b6c5c6;
}
:-moz-placeholder {
  color: #b6c5c6;
}
::-moz-placeholder {
  color: #b6c5c6;
}
:-ms-input-placeholder {
  color: #b6c5c6;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  border: 0 none;
  font-family: Georgia;
  background-color: #ffffff;
  font-size: 1rem;
  color: #666666;
  line-height: 22px;
  min-height: 100%;
  position: relative;
  -webkit-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia;
  font-weight: 400;
}
h3 {
  color: #01abec;
  font-size: 1.4rem;
}
h4 {
  color: #8eafcd;
  font-size: 1.3rem;
}
/* login */
.login {
  margin-top: 1.6rem;
}
.login .input-group-addon {
  padding: 5px;
  background: #0080c8;
  min-width: 48px;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}
.login .form-control {
  height: 48px;
  font-size: 1rem;
  box-shadow: none;
}
.login p {
  text-align: center;
  font-size: 1rem;
  padding: 1.3rem;
}
.login #login-form {
  border-bottom: #ccc thin solid;
  padding: 20px 0px;
}
/* header */
.box {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.box .header {
  height: 45px;
  background: #0080c8;
}
.box .header a {
  position: relative;
  display: block;
  cursor: pointer;
}
.box .header a:hover,
.box .header a:focus,
.box .header a:active {
  width: 100%;
  height: 45px;
  background-color: #01abec !important;
  color: #ffffff !important;
  outline: none !important;
}
.box .header .animateOn {
  position: relative;
  left: 10px !important;
}
.box .header #drawer-trigger {
  width: 300px;
  padding: 3px;
  left: -10px;
}
.box .header #drawer-trigger i.navicon {
  color: #ffffff;
  font-size: 1.6rem;
  display: inline-block;
  padding-right: 8px;
  position: relative;
  top: -7px;
}
.box .header #drawer-trigger .navbar-info {
  font-size: 1.3em;
  color: #ffffff;
  line-height: 100%;
  display: inline-block;
}
.box .header #drawer-trigger .navbar-info .status-section {
  font-size: 0.8rem;
  color: #ccd9f6;
  display: block;
}
/* Kendo Reset Drawer */
.km-flat,
.km-flat .km-navbar,
.km-flat .km-content {
  background-color: #d6d6d6;
}
#drawer {
  width: 200px;
  height: 100%;
  top: 45px;
  background-color: #212834;
  z-index: 10000;
}
#drawer .km-scroll-container {
  width: 100%;
  height: 100%;
  background-color: #212834;
}
#drawer ul.km-list li {
  display: block;
  position: relative;
  width: 100%;
  left: -15px;
  top: -5px;
  padding: 3px;
  cursor: pointer;
}
#drawer ul.km-list li a {
  font-size: 1.1rem;
  color: #ffffff;
}
#drawer ul.km-list li a:hover,
#drawer ul.km-list li a:focus,
#drawer ul.km-list li a:active {
  height: auto;
  background-color: #212834 !important;
  color: #8eafcd !important;
}
#drawer ul.km-list li a span.drawer-icon {
  font-size: 1.3rem;
  margin-right: 5px;
}
#drawer .km-list > li,
#drawer .km-root .km-listview-link,
#drawer .km-root .km-listview-label {
  margin: 0;
  display: block;
  position: relative;
  list-style-type: none;
  vertical-align: left;
  padding: 0;
}
/* Container */
.main-container {
  position: fixed !important;
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
}
#content-container {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  background-color: #fff;
  margin-left: 10px;
}
/* breadcrumb */
.navi-breadcrumb {
  text-align: center;
  height: 20px;
  margin-bottom: 20px;
}
.navi-breadcrumb i {
  font-size: 23px;
  margin-top: 2px;
}
.navi-breadcrumb .left {
  width: 10%;
  padding: 6px 0px;
  background-color: #f5f5f5;
  float: left;
}
.navi-breadcrumb .middle {
  width: 80%;
  float: left;
}
.navi-breadcrumb .right {
  width: 10%;
  padding: 6px 0px;
  background-color: #f5f5f5;
  float: left;
}
.navi-breadcrumb .disabled {
  color: #eaeaea !important;
}
.navi-breadcrumb .breadcrumb {
  position: relative;
  top: -16px;
}
